.container {
  background-color: #354056;
  color: #E5E3E6;
  max-width: 1000px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav a {
  text-decoration: none;
  color: #E5E3E6;
  margin: 1.5rem auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header h1,
header p {
  text-align: center;
  color: #BAB9BE;
  padding: 0.5rem;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-container .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #354056;
  background-color: #BAB9BE;
  width: 40%;
}

.content-container .left-content img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin: 3rem auto;
}

.content-container .left-content .name {
  font-size: 0.75rem;
  margin: 2rem;
}

.content-container .left-content .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #354056;
}

.content-container h1 {
  text-align: center;
}

.content-container .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #354056;
  background-color: #E5E3E6;
  width: 70%;
}

.content-container .skills-container {
  width: 100%;
  font-size: 0.75rem;
  padding-bottom: 2rem;
}

.content-container .skills-container .skills {
  margin: 0rem 1rem 0rem 2rem;
  display: inline-block;
  width: 30%;
}

.content-container .skills-container .html {
  display: inline-block;
  width: 50%;
  background-color: #354056;
}

.content-container .skills-container .javascript {
  display: inline-block;
  width: 40%;
  background-color: #354056;
}

.content-container .skills-container .react {
  display: inline-block;
  width: 40%;
  background-color: #354056;
}

.content-container .skills-container .node {
  display: inline-block;
  width: 40%;
  background-color: #354056;
}

.content-container .skills-container .python {
  display: inline-block;
  width: 30%;
  background-color: #354056;
}

.content-container .skills-container .skills {
  margin: 0rem 1rem 0rem 2rem;
  display: inline-block;
  width: 30%;
}

.content-container .skills-container .teamwork {
  display: inline-block;
  width: 50%;
  background-color: #354056;
}

.content-container .skills-container .communication {
  display: inline-block;
  width: 50%;
  background-color: #354056;
}

.content-container .skills-container .leadership {
  display: inline-block;
  width: 30%;
  background-color: #354056;
}

.content-container .skills-container .teachability {
  display: inline-block;
  width: 50%;
  background-color: #354056;
}

.content-container .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  word-wrap: break-word;
}

.content-container .contact-info .number-email {
  width: 48%;
  padding: 2rem;
}

.content-container .contact-info .address {
  width: 48%;
  padding: 2rem;
}

.content-container .work-exp, .content-container .education {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.75rem;
}

.content-container .work-exp-title {
  width: 20%;
  padding: 0rem 2rem 0rem 2rem;
}

.content-container .work-exp-content {
  width: 60%;
  padding: 0rem 2rem 0rem 2rem;
}

.content-container h3 {
  text-align: center;
  border-right: 1px solid #354056;
}
/*# sourceMappingURL=main.css.map */